.button {
    background: linear-gradient($color-secondary, $color-primary);
    color: $color-white;
    padding: 1rem 1rem;
    border-radius: 50px;
    box-shadow: 6px 6px 6px $color-shadow;
    transition: background-color 400ms;

    &:hover {
        background: lighten($color-primary, 8);
        background: lighten($color-secondary, 8);
        box-shadow: 6px 6px 6px $color-footer;
        
    }
}

