body {
    font-family: $font-text;
}

.logo {
    font-family: $font-title;
    font-size: 40px;
    font-weight: normal;
}

.logofoot {
    font-family: $font-title;
}

h1 {
    font-family: $font-title;
}