body {
    font-family: $font-text;
}

.header__logo {
    font-family: $font-title;
    font-size: 40px;
    font-weight: normal;
}

.footer__logo {
    font-family: $font-title;
}

h1 {
    font-family: $font-title;
}