.home__location {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $color-location;
    box-shadow: inset 0 2px $color-shadow;
    padding: 0.4rem 0;

    & p {
        font-size: 18px;
        font-weight: bold;
    }

    .fa-location-dot {
        margin: 1rem;
    }
}

.home__presentation {
    background-color: $color-presentation;
    text-align: center;
    padding: 3rem 3rem 5rem;
    font-size: 20px;

    p {
        margin-bottom: 3rem;
    }

    h2 {
        margin: 0;
        font-weight: bold;    
    }
}

.home__operation {
    margin-bottom: 5rem;

    h2 {
        padding: 1rem;
        margin-top: 2rem;
    }    
}

.home__operation__ol{
    list-style: none;
    counter-reset: my-counter;
    padding: 0 1rem;
    &__li {
        background-color: $color-presentation;
        border-radius: 30px;
        font-weight: bold;
        padding: 2rem;
        margin: 0 0 1rem 1rem;
        box-shadow: 6px 6px 6px $color-shadow;
        counter-increment: my-counter;
        position: relative;
        &::before{
            content: counter(my-counter);
            background-color: #9356DC;
            color: #FFF;
            padding-top: 0.5rem;
            width: 2rem;
            height: 1.6rem;
            border-radius: 50%;
            text-align: center;
            display: inline-block;
            margin: 0 2rem 0 -3rem;
        }
        i {
            color: $color-awasome;
            margin-right: 1rem;
            font-size: 20px;
        }
    }
}

.home__operation__ol__li:hover  {
    background: $color-hover-fonction;
        
        i {
            color: $color-primary;
        }
}

.restaurant {
    margin-top: 2rem;
    background-color: $color-presentation;
    padding: 1rem 0;

    h2 {
        padding: 1rem;
    } 
}


.restaurant__list__article {
    position: relative;
    margin: 1rem;
    background-color: $color-white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px $color-shadow;

    &__link {
        color: black;
    }
    
    &:hover {
        box-shadow: 6px 6px 6px $color-footer;
    }
}

.restaurant__list__article__link__description {
    padding-bottom: 0.1rem;

    h3 {
        margin: 0.5rem 7rem 0.5rem 1rem;
    }

    p {
        margin: 0 0 1rem 1rem;
    }

    .fa-heart {
    bottom: 2rem;
    position: absolute;
    right: 2rem;
    font-size: 28px;
    }
}

