$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-location: #EAEAEA;
$color-presentation: #F6F6F6;
$color-footer: #353535;
$color-white: #FFF;
$color-shadow: #D5D5D5;
$color-shadow-darker: #938787;
$color-awasome: #7E7E7E;
$color-hover-fonction: #F5EDFF;


$font-title: "Shrikhand", serif;
$font-text: "Roboto", serif;
